<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}"
>
<head>
    <title>トップページ</title>
<body>
<!--ToDo　バグだけど大丈夫　PoCo-->

<!--/* これはレスポンスには含みません */-->

<!--/*-->
複数行でもレスポンスには含みません
複数行でもレスポンスには含みません
<!--*/-->
<section layout:fragment="content">
   <div class="text-center">
       <h1 class="h1">タスク管理を手伝います</h1>
       <p>タスク管理から始めてください！</p>
   </div>
</section>
</body>
</html>